@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
li {
  list-style: none;
}
.Logo-Img {
  width: 60px;
}
a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #e2e8f0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  position: fixed;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #475569;
  z-index: 9;
  background: white;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f07423;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin-left: 5rem;
}
.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  transition: all linear 0.4s;
  color: #f07423;
}
.nav-link:hover {
  color: #0fb1ea;
}
.nav1 {
  display: flex;
  float: right;
  right: calc(25% + 15px);
  position: fixed;
}
.nav1 a {
  color: #f07423;
  font-size: 1.9rem;
  transition: all linear 0.3s;
}
.nav1 a:hover {
  color: #0fb1ea;
}
/* .nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
} */
#page1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
#page2 {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #aedaa6;
}
#page3 {
  width: 100%;
  height: auto;
  position: relative;
}
/*#page4 {
  width: 100%;
  height: 100vh;
  position: relative;
} */
.swiper {
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 100%;
  height: 90%;
}

.swiper-slide {
  background-size: cover;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  object-fit: cover;
}
.text-container {
  width: auto;
  text-align: left;
  top: 30%;
  border-radius: 10px;
  left: 5%;
  padding: 10px;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.text-container h1 {
  text-align: left;
  padding: 5px 0;
  font-size: 35px;
  letter-spacing: 1px;
  color: #f07423;
}
.text-container h3 {
  text-align: left;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  color: #0fb1ea;
}
.btn1 {
  border-radius: 4px;
  background-color: #f7ce26;
  border: none;
  color: #094459;
  text-align: center;
  font-size: 25px;
  padding: 16px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px 0;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.btn1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn1:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.btn1:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.btn1:hover:after {
  opacity: 1;
  right: 10px;
}

.card-parent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.card {
  width: auto;
  height: auto;
  position: relative;
  background: white;
  margin: 40px auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav {
  width: 100%;
  color: #727272;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 2px solid #efefef;
  font-size: 12px;

  svg.heart {
    height: 24px;
    width: 24px;
    float: right;
    margin-top: -3px;
    transition: all 0.3s ease;
    cursor: pointer;

    /* &:hover {
          fill: red;
        } */
  }
  svg.heart:hover {
    fill: red;
  }
  svg.arrow {
    float: left;
    height: 15px;
    width: 15px;
    margin-right: 10px;
  }
}

.photo {
  padding: 30px;
  width: 45%;
  text-align: center;
  float: left;

  img {
    max-height: 240px;
  }
}

.description {
  padding: 30px;
  float: left;
  width: 55%;
  border-left: 2px solid #efefef;

  h1 {
    color: #515151;
    font-weight: 300;
    padding-top: 15px;
    margin: 0;
    font-size: 30px;
    font-weight: 300;
  }

  h2 {
    color: #515151;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
  }

  h4 {
    margin: 0;
    color: #727272;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
  }

  p {
    font-size: 12px;
    line-height: 20px;
    color: #727272;
    padding: 20px 0;
    margin: 0;
  }

  .btn2 {
    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #d9d9d9;
    padding: 8px 0px;
    margin-bottom: 30px;
    cursor: pointer;
    color: #515151;
    text-transform: uppercase;
    width: 125px;
    transition: all linear 0.3s;
    font-family: inherit;
    margin-right: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
  }
  .btn3 {
    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #d9d9d9;
    padding: 8px 0px;
    margin-bottom: 30px;
    cursor: pointer;
    color: #515151;
    text-transform: uppercase;
    width: 125px;
    transition: all linear 0.3s;
    font-family: inherit;
    margin-right: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
  }
}
.btn2:hover {
  background-color: #f7ce26;
}
.btn3:hover {
  background-color: #f07423;
}
.container {
  background-color: #fff;
  height: auto;
  width: 100%;
}
#movingDiv {
  white-space: nowrap;
  overflow-x: auto;
  padding: 0;
}
#movingDiv::-webkit-scrollbar {
  display: none;
}
#movingDiv img {
  width: 15%;
  aspect-ratio: 3/2;
  padding: 0 3vw;
  object-fit: contain;
  mix-blend-mode: darken;
  /* margin: 10px; */
  /* top: 10%; */
  position: relative;
  height: auto;
  display: inline-block;
}
.con {
  display: inline-block;
  white-space: nowrap;
  animation: move 10s linear infinite;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    z-index: 1;
    left: -100%;
    top: 10rem;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.877);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav1 {
    display: flex;
    float: right;
    right: 17%;
    position: absolute;
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .text-container {
    text-align: left;
    top: 30%;
    left: 5%;
    z-index: 9;
    position: absolute;
  }
  .text-container h1 {
    text-align: left;
    padding: 5px 0;
    font-size: 20px;
    letter-spacing: 2px;
    color: #f07423;
  }
  .text-container h3 {
    text-align: left;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    color: #0fb1ea;
  }
  .btn1 {
    border-radius: 4px;
    background-color: #f7ce26;
    border: none;
    color: #094459;
    text-align: center;
    font-size: 10px;
    padding: 15px 0;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 6px 0;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  }

  .card-parent {
    height: 100%;
    width: 100%;
    display: inline-block;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
  }
  .card {
    width: 100%;
    height: 400px;
    position: relative;
    background: white;
    margin: 20px auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s;
  }
  .photo {
    padding: 30px 10px;
    width: 40%;
    text-align: center;
    float: left;

    img {
      max-height: 180px;
    }
  }
  .description {
    padding: 30px 10px;
    float: left;
    width: 55%;
    border-left: 2px solid #efefef;

    h1 {
      color: #515151;
      font-weight: 300;
      padding-top: 15px;
      margin: 0;
      font-size: 30px;
      font-weight: 300;
    }

    h2 {
      color: #515151;
      margin: 0;
      text-transform: uppercase;
      font-weight: 500;
    }

    h4 {
      margin: 0;
      color: #727272;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
    }

    p {
      font-size: 12px;
      line-height: 20px;
      color: #727272;
      padding: 20px 0;
      margin: 0;
    }
    .btn2 {
      outline: 0;
      border: 0;
      background: none;
      border: 1px solid #d9d9d9;
      padding: 8px 0px;
      margin-bottom: 5px;
      cursor: pointer;
      color: #515151;
      text-transform: uppercase;
      width: 125px;
      transition: all linear 0.3s;
      font-family: inherit;
      margin-right: 5px;
      transition: all 0.3s ease;
      font-weight: 500;
    }
    .btn3 {
      outline: 0;
      border: 0;
      background: none;
      border: 1px solid #d9d9d9;
      padding: 8px 0px;
      margin-bottom: 30px;
      cursor: pointer;
      color: #515151;
      text-transform: uppercase;
      width: 125px;
      transition: all linear 0.3s;
      font-family: inherit;
      margin-right: 5px;
      transition: all 0.3s ease;
      font-weight: 500;
    }
  }
  .btn2:hover {
    background-color: #f7ce26;
    color: black;
  }
  .btn3:hover {
    background-color: #f07423;
    color: black;
  }
  #movingDiv img {
    width: 15%;
    aspect-ratio: 3/2;
    padding: 0 3vw;
    object-fit: contain;
    mix-blend-mode: darken;
    /* margin: 10px; */
    /* top: 10%; */
    position: relative;
    height: auto;
    display: inline-block;
  }
}
@media screen and (max-width: 900px) {
  .nav1 {
    display: flex;
    float: right;
    right: 50%;
    position: fixed;
  }
}
@media screen and (max-width: 1000px) {
  .nav1 {
    display: flex;
    float: right;
    right: 40%;
    position: fixed;
  }
}
@media screen and (max-width: 1300px) {
  .nav1 {
    display: flex;
    float: right;
    right: 45%;
    position: fixed;
  }
}
